<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 ng-show="!isLoggdIn">Logga in för att lägga till ett Recept</h2>
            <div ng-show="isLoggdIn">
                <div class="jumbotron " ng-hide="isRecept">
                    <p>Lägg till recept</p>
                    <form ng-controller="addreceptCtrl">
                        <br/><label>Recept Namn <input type="text" ng-model="r_namn" /></label>
                        <br/><label>instruktion<input type="text" ng-model="instruktion" /></label>
                        <br/><label>bild<input type="text" ng-model="imglink" /></label>
                        <br/><label>kategori<input type="text" ng-model="kategori" /></label>            
                        <br/><label>author<input type="text" ng-model="author" /></label>            
                        <button class="btn btn-info" ng-click="addRecept()">Lägg till recept</button>
                    </form>  
                </div>
                <div class="jumbotron " ng-hide="!isRecept">
                    <p>Lägg till ingredienser</p>
                    <form ng-controller="addreceptCtrl">
                        <br/><label>Recept Namn <input type="text" ng-model="r_namn" /></label>           
                        <button class="btn btn-info" ng-click="addRecept()">Lägg till recept</button>
                    </form>  
                </div>
            </div>
        </div>
    </div>
</div>
