<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 ng-show="!isLoggdIn">Logga in för att lägga till ett Recept</h2>
            <div ng-show="isLoggdIn">
                <div class="jumbotron " ng-hide="isRecept">
                    <p>Lägg till recept</p>
                    <form ng-controller="addreceptCtrl" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Receptnamn</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="r_namn" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kategori</label>
                            <div class="col-sm-10">
                                <select ng-model="kategori">
                                    <option value="fisk">fisk</option>
                                    <option value="kött">kött</option>
                                    <option value="lättlagat">lättlagat</option>
                                    <option value="vegetariskt">vegetariskt</option>
                                    <option value="övrigt">övrigt</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Intruktion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" type="text" ng-model="instruktion"/></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Bild</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" ng-model="imglink" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn-info" ng-click="addRecept()">Lägg till recept</button>
                            </div>
                        </div>
                    </form>
                </div>
                <center><div ng-hide="!isRecept">
                    <p>Du ska nu lägga till vilka ingredienser som tillhör receptet du precis skapade!</p>
                        <a href="index.html#/addingrediens"><button class="btn btn-info">Lägg till ingredienser</button></a>
                    </div></center>
            </div>
        </div>
    </div>
</div>
