<nav class="navbar navbar-inverse navbar-fixed-top navbartext" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Linus Mat</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-click="receptShow = !receptShow;">Alla recept</a>
                </li>
                <li>
                    <a ng-hide="!isLoggdIn" href="index.html#/addrecept">Lägg till recept</a>
                </li>
                <li class="dropdown" ng-hide="isLoggdIn">
                    <a href="#" class="dropdown-toggle logintext" data-toggle="dropdown"><b>Logga in</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12 login" >
                                    <form class="form" accept-charset="UTF-8" id="login-nav" ng-controller="loggInCtrl">
                                        <label>Användarnamn <input type="text" ng-model="username"/></label><br/>
                                        <label>Lösenord <input type="password" ng-model="password"/></label><br/>
                                        <button class="btn btn-info" ng-click="loggIn()">Logga in</button>
                                    </form>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> håll mig inloggad </>
                                        </label>
                                    </div>
                                </div>
                                <div class="bottom text-center">
                                    Inget inlogg? <a href="index.html#/register"><b>Registrera dig här!</b></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>