<center><img ng-hide="receptShow" src="img/logo.png" alt=""/></center>
<center><input ng-hide="receptShow" type="text" name="search" ng-model="query" placeholder="Sök..."></center>
<div class="container">

    <div class="row" ng-hide="receptShow">
        <div class="col-lg-12">
            <h1 class="page-header">Recept</h1>
            
        </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb " ng-repeat="recept in table| filter:query">
            <a class="thumbnail zero" href="#">
                <img  src={{recept.imglink}} alt="bildlänk">
            </a>
            <p>{{recept.r_namn}}</p>
            <p>{{recept.kategori}}</p>
            <p>{{recept.author}}</p>
            <a class="btn btn-warning" ng-click="open($index)">Se mer!</a>
            <a ng-click="deleteRec(recept.recept_id, recept.author)"><button class="btn btn-danger">Delete</button></a>
        </div>
    </div>
    <div class="results"></div>
    <div class="col-lg-2" ng-hide="!receptShow">
        <table class="table table-bordered">
            <tr ng-repeat="ingrediens in ingredienser">
                <td>{{ingrediens.i_namn}}</td>
                <td>{{ingrediens.amount}}</td>
            </tr>
        </table>
    </div>

</div>
