<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <h1>Registrera dig</h1>
            <form class="form" accept-charset="UTF-8" id="register" ng-controller="">
                <label>Username <input type="text" ng-model="username"/></label><br/>
                <label>Password <input type="password" ng-model="password"/></label><br/>
                <button class="btn btn-info" ng-click="">Registrera</button>
            </form>
        </div>
    </body>
</html>
